<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regression Model Predictor</title>
</head>
<body>
    <h1>Regression Model Predictor</h1>

    <form method="POST" action="/predict">
        <label for="Formulation_Duration">Formulation Duration (hrs):</label>
        <input type="text" name="Formulation_Duration" required><br>

        <label for="Additive_Catalyst">Additive_Catalyst (gm):</label>
        <input type="text" name="Additive_Catalyst" required><br>

        <label for="Plasticizer">Plasticizer (gm):</label>
        <input type="text" name="Plasticizer" required><br>

        <input type="submit" value="Predict">
    </form>

    {% if prediction %}
        <h2>Prediction Result:</h2>
        <p>{{ prediction }}</p>
    {% endif %}
</body>
</html>